@import url('https://fonts.googleapis.com/css?family=Lato');


.textTitle {
    text-decoration: none;
    color: rgb(153, 175, 25);
    font-size: 15px;
    display: flex;
    font-family: "Lato";
    
    
    
}

.allPosts{
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 21px;
    font-family: inter;
    

}


.posts{
    max-width: 450px;
    padding: 21px;
    border: 1.2px solid lightskyblue;
    border-radius: 5px;

}

.posts:hover {
    background-color: rgba(222, 245, 247, 0.774);
    transform: scale(1.39);
    transform-origin: left;
    text-shadow: linen;
}

.postTitle{
    padding-bottom: 1px;
    border-bottom: 1px solid lightseagreen;
}

.postContent{
    padding-top: 5px;
    line-height: 22px;
    font-size: 18px;
}


.postDate{
    padding-top: 28px;
    color: rgb(162, 103, 218);
}


.createPosts{
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 750px;
    font-family: Times;
    font-size: 46px;
    color: rgb(52, 174, 190);
    
}

.createTitle{
    margin-left: 650px;
    font-size: 25px;
    border-color: rgb(30, 153, 153);
    font-family: Cochin;
}

.createTitle:hover{
    display: block;

}

.createContent{
    margin-left: 640px;
    font-size: 25px;
    width: 715px;
    height: 625px;
    border-color: rgb(31, 63, 63);
    background-color: lightgoldenrodyellow;
}

.createContent:hover{
    display: block;
}

.createButton{
    margin-top: 43px;
    margin-left: 930px;
    font-size: 30px;
    
}

.createButton:hover {
    transform: scale(1.1);
}

input[name="title"] {
    font-size: 21px;
}

textarea[name="content"] {
    font-size: 32px;
}

