@import url('https://fonts.googleapis.com/css?family=Lato');

::-webkit-scrollbar-thumb {
  background: lightskyblue;
}

::-webkit-scrollbar-thumb:hover {
  background: lightslategrey;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.8fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3 fr;
  grid-template-areas: 
  "sidebar nav nav nav"
  "sidebar main main main";
}

@media only screen and (max-width: 978px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: "menu main";
  }
}

/* ------------------------------ */
.login_out_btn {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background: none;
  border: none;
  margin-top: 50px;
  border-radius: 7px;
}

.signing_box {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background: rgb(240, 248, 255);
  border-radius: 25px;
  padding: 20px;
  display: inline-block;
  position: absolute;
  left: 42%;
  top: 30%;
}

.input_form {
  margin-top: 30px;
  
}

input {
  margin: 10px;
  border-radius: 7px;
  height: 30px;
  min-width: 200px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#acc_signin {
  margin-top: 50px;
  margin-left: 30px;
  border-radius: 9px;
}

#acc_signup {
  margin-top: 50px;
  margin-left: 30px;
  border-radius: 9px;
}

.icon {
  width: 25px;
  height: 25px;
}

#gender_list {
  border-radius: 5px;
  margin-left: 10px;
  background-color: #f9f9f9;
  min-width: 205px;
  min-height: 30px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.box_message {
  font-size: 25px;
}
