@import url('https://fonts.googleapis.com/css?family=Lato');



.menuTab {
    background-color: lightskyblue;
    height: 75px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "Lato";
    padding: 0 1rem;
    
}

.navItem {
    width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -0.4rem;

}

.navButton {
    
    width: 33px;
    height: 33px;
    background-color: lightyellow;
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    transition: filter 300ms;
    color: rgb(25, 125, 172)
}
.navButton:hover {
    background-color:rgb(233, 235, 139);
}
.testingTab {
    margin-left: 60px;
}

.dropdown {
    position: absolute;
    width: 160px;
    transform: translateX(-12.3%);
    background-color: rgb(208, 235, 231);
    border: darkgray;
    padding: 2rem;
    overflow: hidden;
    
   
}

.logoImg {
    
    display: flex;
    image-rendering: optimizeQuality;
    border-style: double;
    border-radius: 50%;
    margin-top: 33px;
    margin-left: 30px;
    border-color: rgb(30, 172, 129);
    
}

.logoMain {
    display: block;
    margin-left: 0%;
    margin-right: 100%;
    width: 50%;
}

.menuTitle {
    font-weight: 500;
    font-family: "Lato";
    align-items: center;
    list-style: none;
    margin-left: 30px;
}

/* viewing list */
.menuOptions {
    margin-left: 5px;
    font-size: 2rem;
    image-rendering: optimizeQuality;
    list-style: none;
    

}

.mainMenu {
    background-color: lightskyblue;
    width: 275px;
    height: 100vh;
    display: flex;
    justify-content:  center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    border-style: ridge;
    grid-area: sidebar;

}

.mainMenu.active {
    left: 0;
    transition: 350ms;

}

.menuText {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    list-style: none;
    height: 5px;
    font-weight: 500;
    font-family: "Lato";
    color: goldenrod;
    
    
}

.menuText a {
    text-decoration: none;
    color: rgb(3, 54, 39);
    font-size: 25px;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 30px;
    margin-left: -3rem;
    border-radius: 5px;
    font-family: "Lato";
    
    
    
}

.menuText a:hover {
    padding: 0 60px;
    transition: 1150ms;   
    transition-delay: 100ms;
    transition: ease-in-out;
    
}

.menuItems {
    max-width: 100%;
    list-style: none;
    /* display: flex;
    justify-content: flex-end; */
}

.menuToggle {
    background-color: rgba(67, 174, 216, 0.74);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

span {
    margin-left: 10px;
}

